.qr-code {
    margin-left: auto;
    margin-right: auto;    
}
.mask-gradient {
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.gold-surface {
    background-color: hsla(46, 79%, 40%, 0.65);
    border: 3px solid #d4af37;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 5px;
}

.gold-class {
    color:#000000;
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem /* 28px */
}